/*Colores*/

$color_default: #B1A6F6;
$white: #ffff;
$box-color-1:#FFFFFF;
$box-color-2:#F5F5F5;



/*fontes*/
$lato: 'Lato', sans-serif;
$font_menu_color: #293787;
$menu_inside: #ffff;
$box-pink: #F9A7E9;
$box-date: #A7B3F9;

/*Letras*/

$menu-titulo: 30px;
$menu-letra: 15px;
$menu-titulo-bold: bold;
$box-letra: 15px;
$box-title: 18px;
$menu-h2: 40px;
