/*Colores*/

$color_default: #B1A6F6;
$white: #ffff;



/*fontes*/
$lato: 'Lato', sans-serif;
$font_menu_color: #293787;
$menu_inside: #ffff;

/*Letras*/

$menu-titulo: 30px;
$menu-letra: 15px;
$menu-titulo-bold: bold;