@import '_variables.scss';

* {
    padding: 0px;
    margin: 0px; 
    font-family: $lato;
    overflow-x:hidden
  }

  u,li,a {
    list-style: none;
    text-decoration: none;
  }


  /*Menu*/

  .nav {
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color:$color_default;
    position: absolute;
    top: 0;
    padding: 20px;
    padding-top: 40px;
    align-items: center;
    z-index: 2;
   

    #xicon {
      display: none;
    }
    
    .nav-principal{
      width: 100%;
   
      display: flex;
      flex-direction: row;
      justify-content: space-around;


    .horizontal-menu{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 80%;
    
       
      

      .menu-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 2pxs;
        background-color:$white;
        width: 120px;
        height: 30px;
        border-radius: 5pc;
        color: $font_menu_color;

      }
    }


  }

  }

    
  input[type=checkbox] {
    display: none;
  

    &:checked ~ #mobile-menu {
      transform: translateY(370px);
    }
    
    &:checked ~ .nav #xicon {
      display: block;
    }
    &:checked ~ .nav #hamicon {
      display: none;
    }
  }

 /*Menu interno*/

  #mobile-menu {
    position: absolute;
    background-color:$color_default;
    width: 100%;
    height: 300px;
    padding-top: 84px;
    transition: all .5s;
    margin-top: -500px;
    display: flex;
    justify-content: center;
    
    



    .div-menuinterno{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 30px;
      width: 90%;
      padding-top: 25px;
      
      a,u,li {
        color:$menu_inside; 
      }
      
      

      .div-per{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
          
     


            .div-perfil{
              background-color: white;
              width: 150px;
              height: 150px;
              border-radius: 5pc;
        
            }
          }

      .menu_todasfilas {
        display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-end;
      width: 80%;
      height: 60%;

      }

      .menu_fila {
        margin-top: 40px;
        font-size: $menu-letra;
        color: $menu_inside;
        
  
  
        .menu-titulo {
          font-size: $menu-titulo;
          font-style: $menu-titulo-bold;
        }
      }

      
    }

    


  }

  label {
    color: white;
  }

  /*Div diagonal*/

.div-transform {
  width: 0;
  height: 0;
  border-top: 50px solid $color_default;
  border-right: 210vh solid transparent;
  margin-top: 90px;
  
}


/*Container*/

.container{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  margin-bottom: 20px;

  

  .task-box {
    width: 49vw;
    height: 350px;
    display: grid;
    display: grid;
    grid-template-columns: 5% 23% 18% 18% 18% 18%;
    grid-template-rows: 12% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 4%;
    background-color: $color_default;
    text-align: center;
    color: $font_menu_color;
    grid-template-areas:
    ". mytask mytask mytask mytask mytask"
    "circle task status line website date"
    "circle2 task2 status2 line2 website2 date2"
    "c c c c c c "
    "d d d d d d "
    "e e e e e e "
    "f f f f f f "
    "g g g g g g "
    "h h h h h h "
    "i i i i i i "
    "j j j j j j "
    "k k k k k k "
    ;
    border-radius: 1em;
    font-size: $box-letra;
  
    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .box-mytasks {
      grid-area: mytask;
      color: $white;
      padding-top: 0.7vw; 
      font-size: $box-title;
      
    }
  
    .box-circle {
      grid-area: circle;
      background-color: $box-color-1;
    
      
    }
    .box-task {
      grid-area: task;
      background-color: $box-color-1;
      text-align: left;
      }
    
    .box-line{
      grid-area: line;
      background-color: $box-color-1;
      color: $box-pink;
    }
    .box-status{
      grid-area: status;
      background-color: $box-color-1;
      color: $box-pink;
    }
    .box-site{
      grid-area: website;
      background-color: $box-color-1;
      color: $box-pink;
    }
    .box-date{
      grid-area: date;
      background-color: $box-color-1;
      color: $box-date;
    }
  
    //row2
  
  
    .box-circle2 {
      grid-area: circle2;
      background-color: $box-color-2;
      
    }
    .box-task2 {
      grid-area: task2;
      background-color: $box-color-2;
      text-align: left;
      }
    
    .box-line2{
      grid-area: line2;
      background-color: $box-color-2;
      color: $box-pink;
    }
    .box-status2{
      grid-area: status2;
      background-color: $box-color-2;
      color: $box-pink;
    }
    .box-site2{
      grid-area: website2;
      background-color: $box-color-2;
      color: $box-pink;
    }
    .box-date2{
      grid-area: date2;
      background-color: $box-color-2;
      color: $box-date;
    }
   
    .c--{
      grid-area: c;
      background-color: $box-color-1;
    }
  
    .d--{
      grid-area: d;
      background-color: $box-color-2;
    }
    
    .e--{
      grid-area: e;
      background-color: $box-color-1;
    }
  
    .f--{
      grid-area: f;
      background-color: $box-color-2;
    }
  
    .g--{
      grid-area: g;
      background-color: $box-color-1;
    }
    .h--{
      grid-area: h;
      background-color: $box-color-2;
    }
    .i--{
      grid-area: i;
      background-color: $box-color-1;
    }
    .j--{
      grid-area: j;
      background-color: $box-color-2;
    }
    .box-button{
      grid-area: k;
      background-color: $color_default;
    }
  
  
  }
  
}


/*Calendario*/

.calendario {
margin-top: 30px;

  h2{
    margin-top: 3vw;
    margin-left: 18vw;
    color: $color_default;
    font-size: $menu-h2;
    position: absolute;
  
  }

  .div-transform2 {
  width: 100%;
  height: 0;
  border-bottom: 200px solid $color_default;
  border-left: 210vh solid transparent;
  
  
}

.calendar {
  width: 100%;
  height: 800px;
  background-color: $color_default;
}

}

/*Footer*/

footer {
  width: auto;
  height: 110px;
  background-color:$footer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 15vw;
  margin-left: 2vw;
  

  
    img {
      width: 3vw;
    }

    .bottom-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

}
