/*Colores*/
/*fontes*/
/*Letras*/
* {
  padding: 0px;
  margin: 0px;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

u, li, a {
  list-style: none;
  text-decoration: none;
}

/*Menu*/
.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #B1A6F6;
  position: absolute;
  top: 0;
  padding: 20px;
  padding-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.nav #xicon {
  display: none;
}

.nav .nav-principal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav .nav-principal .horizontal-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
}

.nav .nav-principal .horizontal-menu .menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2pxs;
  background-color: #ffff;
  width: 120px;
  height: 30px;
  border-radius: 5pc;
  color: #293787;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ #mobile-menu {
  -webkit-transform: translateY(370px);
          transform: translateY(370px);
}

input[type=checkbox]:checked ~ .nav #xicon {
  display: block;
}

input[type=checkbox]:checked ~ .nav #hamicon {
  display: none;
}

/*Menu interno*/
#mobile-menu {
  position: absolute;
  background-color: #B1A6F6;
  width: 100%;
  height: 300px;
  padding-top: 84px;
  -webkit-transition: all .5s;
  transition: all .5s;
  margin-top: -500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mobile-menu .div-menuinterno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
  width: 90%;
  padding-top: 25px;
}

#mobile-menu .div-menuinterno a, #mobile-menu .div-menuinterno u, #mobile-menu .div-menuinterno li {
  color: #ffff;
}

#mobile-menu .div-menuinterno .div-per {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mobile-menu .div-menuinterno .div-per .div-perfil {
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 5pc;
}

#mobile-menu .div-menuinterno .menu_todasfilas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 80%;
  height: 60%;
}

#mobile-menu .div-menuinterno .menu_fila {
  margin-top: 40px;
  font-size: 15px;
  color: #ffff;
}

#mobile-menu .div-menuinterno .menu_fila .menu-titulo {
  font-size: 30px;
  font-style: bold;
}

label {
  color: white;
}

/*Div diagonal*/
.div-transform {
  width: 0;
  height: 0;
  border-top: 50px solid #B1A6F6;
  border-right: 210vh solid transparent;
  margin-top: 90px;
}

/*Container*/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container .task-box {
  width: 49vw;
  height: 350px;
  display: -ms-grid;
  display: grid;
  display: grid;
  -ms-grid-columns: 5% 23% 18% 18% 18% 18%;
      grid-template-columns: 5% 23% 18% 18% 18% 18%;
  -ms-grid-rows: 12% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 4%;
      grid-template-rows: 12% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 4%;
  background-color: #B1A6F6;
  text-align: center;
  color: #293787;
      grid-template-areas: ". mytask mytask mytask mytask mytask" "circle task status line website date" "circle2 task2 status2 line2 website2 date2" "c c c c c c " "d d d d d d " "e e e e e e " "f f f f f f " "g g g g g g " "h h h h h h " "i i i i i i " "j j j j j j " "k k k k k k ";
  border-radius: 1em;
  font-size: 15px;
}

.container .task-box span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .task-box .box-mytasks {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: mytask;
  color: #ffff;
  padding-top: 0.7vw;
  font-size: 18px;
}

.container .task-box .box-circle {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: circle;
  background-color: #FFFFFF;
}

.container .task-box .box-task {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: task;
  background-color: #FFFFFF;
  text-align: left;
}

.container .task-box .box-line {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: line;
  background-color: #FFFFFF;
  color: #F9A7E9;
}

.container .task-box .box-status {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: status;
  background-color: #FFFFFF;
  color: #F9A7E9;
}

.container .task-box .box-site {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: website;
  background-color: #FFFFFF;
  color: #F9A7E9;
}

.container .task-box .box-date {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: date;
  background-color: #FFFFFF;
  color: #A7B3F9;
}

.container .task-box .box-circle2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: circle2;
  background-color: #F5F5F5;
}

.container .task-box .box-task2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: task2;
  background-color: #F5F5F5;
  text-align: left;
}

.container .task-box .box-line2 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: line2;
  background-color: #F5F5F5;
  color: #F9A7E9;
}

.container .task-box .box-status2 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: status2;
  background-color: #F5F5F5;
  color: #F9A7E9;
}

.container .task-box .box-site2 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: website2;
  background-color: #F5F5F5;
  color: #F9A7E9;
}

.container .task-box .box-date2 {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
  grid-area: date2;
  background-color: #F5F5F5;
  color: #A7B3F9;
}

.container .task-box .c-- {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: c;
  background-color: #FFFFFF;
}

.container .task-box .d-- {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: d;
  background-color: #F5F5F5;
}

.container .task-box .e-- {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: e;
  background-color: #FFFFFF;
}

.container .task-box .f-- {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: f;
  background-color: #F5F5F5;
}

.container .task-box .g-- {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: g;
  background-color: #FFFFFF;
}

.container .task-box .h-- {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: h;
  background-color: #F5F5F5;
}

.container .task-box .i-- {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: i;
  background-color: #FFFFFF;
}

.container .task-box .j-- {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: j;
  background-color: #F5F5F5;
}

.container .task-box .box-button {
  -ms-grid-row: 12;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: k;
  background-color: #B1A6F6;
}

/*Calendario*/
.calendario {
  margin-top: 30px;
}

.calendario h2 {
  margin-top: 3vw;
  margin-left: 18vw;
  color: #B1A6F6;
  font-size: 40px;
  position: absolute;
}

.calendario .div-transform2 {
  width: 100%;
  height: 0;
  border-bottom: 200px solid #B1A6F6;
  border-left: 210vh solid transparent;
}

.calendario .calendar {
  width: 100%;
  height: 800px;
  background-color: #B1A6F6;
}

/*Footer*/
footer {
  width: auto;
  height: 110px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 15vw;
  margin-left: 2vw;
}

footer img {
  width: 3vw;
}

footer .bottom-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Task Pop-Up*/
.container-tasktitle {
  margin: 0 auto;
  margin-top: 50px;
  width: 50vw;
  height: 500px;
  background-color: #E7E3FF;
  border: solid #B1A6F6 1vw;
  border-radius: 2em;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #293787;
  font-family: "Lato", sans-serif;
}

.container-tasktitle .container-task-left {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

.container-tasktitle .container-task-left .task-title {
  background-color: #ffff;
  width: 90%;
  border-radius: 1em;
  padding: 15px;
  margin-bottom: 15px;
  overflow-y: hidden;
}

.container-tasktitle .container-task-left .task-description {
  background-color: #ffff;
  width: 90%;
  height: 100px;
  border-radius: 1em;
  padding: 15px;
  margin-bottom: 15px;
  overflow-y: hidden;
}

.container-tasktitle .container-task-left .task-subject {
  background-color: #ffff;
  width: 90%;
  height: 150px;
  border-radius: 1em;
  padding: 15px;
  margin-bottom: 15px;
  overflow-y: hidden;
}

.container-tasktitle .container-task-left .task-coments {
  background-color: #ffff;
  width: 90%;
  height: 150px;
  border-radius: 1em;
  padding: 15px;
  margin-bottom: 15px;
  overflow-y: hidden;
}

.container-task-right {
  padding-top: 15px;
  /* For IE <= 11 */
}

.container-task-right .task-closure {
  margin-left: 3vw;
  width: 8vw;
  border-radius: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-task-right .task-closure img {
  width: 45px;
  border-radius: 0.5em;
}

.container-task-right .task-data {
  margin-top: 15px;
}

.container-task-right .task-data, .container-task-right .task-keyw, .container-task-right .task-url, .container-task-right .task-url, .container-task-right .task-url, .container-task-right .task-asigned, .container-task-right .task-prority, .container-task-right .task-attachments, .container-task-right .task-line {
  width: 10vw;
  background-color: #ffff;
  padding: 9px;
  border-radius: 0.5em;
  margin-bottom: 15px;
}

.container-task-right select {
  width: 11vw;
  padding: 10px;
  cursor: pointer;
  border-radius: 0.5em;
  background-color: #B1A6F6;
  border: none;
  border-bottom: none;
  color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}

.container-task-right select::-ms-expand {
  display: none;
}

.container-task-right select:hover {
  color: #ffff;
  background-color: #B1A6F6;
  border: none;
  border-style: none;
}

.container-task-right select:focus {
  border-color: white;
}
/*# sourceMappingURL=style.css.map */